* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
}

#topo{
    width: 100%;
    height: auto;
    /* background-color: #dedede; */
}

#logo{
    width: 20%;
    height: auto;
}
/* Navegação */
nav{
    width: 100%;
    height: auto;
    background-color: red;
    float: left;
}
#menu{
    list-style: none;
    /* border: 1px solid #ffffff; */
    border: 1px solid #fff (0, 255, 21);
    float: left;
    padding-left: 4%;
}
#menu li{
    position:relative; /*posição em relacao ele mesmo ou página */
    float: left;
    border-right:1px solid #fff;
}
#menu li  a{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    text-decoration: none; /*tira o sublinhado*/
    padding:5px 10px;  /*top e base /esquerada e direita */
    display: block;
}

#menu li a:houver{   /* pseudo classe, efeitos*/
    background-color: #470404;
    transition: 1s;
}


/* submenu*/
#menu li ul {
    position: absolute;
    top:25px;
    left:0;
    background-color: #b00000;
    display: none;
}
#menu li:houver ul, #menu li over  ul{
    display:block;
}
#menu li ul li{
    border: 1px solid #ffffff;
    display: block;
    width: 150px;
}

#conteudo{
    width: 100%;
    min-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #fff;
}

#conteudo h1{
    text-align: center;
}


#imagem{
    width: 40%;
    height: auto;
}


#rodape {
    text-align: center;
    padding-top: 20px;
    background-color:red;
    margin-top: 2%;
    display: -ms-inline-flexbox;
}