* {
    margin: 0;
    padding: 0;
}


#principal {
    font-family: sans-serif;
    color: #380061;
    margin-left: 7%;

}

#esp {
    font-weight: bold;
    border: 2px solid black;
    color: cornflowerblue;
    font-family: 'Gluten', cursive;
    margin-top: 2%;

}

#text {
    opacity: 0.6;
    border: 2px solid;
    margin-top: 2%;
    font-style: italic;
    font-size: 6rem;
   
    
}



#opac {

    padding: 8px;
    border-radius: 25p;
    border-radius: 15px 50px;
    margin-top: 2%;

}


#rodape {
    text-align: center;
    padding-top: 10%;
    background-color: darkcyan;
    margin-top: 2%;
    display: -ms-inline-flexbox;
}